{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<video width='320' height= '240' controls>
<source src="{% static 'videos/google-guru.mp4' type='video/mp4' %}">
	Your browser does not support the video tag.
</video>
</body>
</html>